<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
  <head>
 <title>{% block title %}Buzz2Tweet.com{% endblock %}</title>
        {% block extrahead %}
        {% endblock %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Language" content="en"/>
        <link rel="stylesheet" type="text/css" href="/site_media/buzz2tweet.css" />

  </head>
<body>

<div id="wrap">
	<!-- header --> 
	<div id="header">					
		
		<h1 id="logo-text"><a href="index.html" title="">buzz&nbsp;&nbsp;2&nbsp;&nbsp;tweet</a></h1>		
		<p id="intro">Update your status on Buzz and Twitter at the same time!</p>				
		
		<!-- navigation --> 
		<div  id="nav"> 
			<ul> 
				<li><a href="/">Start</a></li> 
				<li><a href="/faq/">FAQ</a></li> 
				<li><a href="/commands/">Command Help</a></li> 
			</ul>		
		</div>				
	
	</div>	
	<!-- header ends -->
        
        <!-- content starts --> 
      <div id="content-outer" class="clear"><div id="content-wrap" >
        <div class="content">
          <div class="post">
            
            {% block content %}
            <!-- Main Content goes here -->
            {% endblock %}
            
           </div>
        
        </div>  
      </div>
        <!-- content ends -->
</div>
      
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-115245-2");
pageTracker._trackPageview();
} catch(err) {}</script>     
      
</body>
</html>
